<% layout('layouts/boilerplate') %>

<h3 class="mb-3">Edit your Listing</h3>
<form class="vstack gap-3" method="POST" action="/listings/<%= listing._id %>?_method=PUT">
  <input class="form-control" name="listing[title]" value="<%= listing.title %>" type="text" />
  <textarea class="form-control" name="listing[description]"><%= listing.description %></textarea>
  <input class="form-control" name="listing[image]" value="<%= listing.image %>" type="text" />
  <input class="form-control" name="listing[price]" value="<%= listing.price %>" type="number" />
  <input class="form-control" name="listing[country]" value="<%= listing.country %>" type="text" />
  <input class="form-control" name="listing[location]" value="<%= listing.location %>" type="text" />
  <button class="btn btn-primary">Edit</button>
</form>

